@import "../../scss/variables";


.btn {
  & {
    padding: $p-secondary;
    border: 1px solid transparent;
    user-select: none;
  }

  &:hover {
    text-decoration: none;
  }

  &:focus,
  &.focus {
    outline: 0;
  }

  &-primary,
  &-danger,
  &-tertiary {
    line-height: $base-line-height;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: $font-color-primary;
    border-radius: $base-line-height / 2 + $p-secondary;
  }

  &-primary {
    background-color: $color-primary;
  }

  &-danger {
    background-color: $color-danger;
  }

  &-tertiary {
    background-color: $color-tertiary;
  }

  &:disabled {
    background-color: $color-disabled;
  }
}
