@import "~ol/ol.css";
@import "../common/scss/variables";


.map {
  & {
    display: block;
    position: relative;
    width: 100vw;
    height: 100vh;
  }

  .map-block {
    width: 100%;
    height: 100%;
  }

  .map-bottom-section {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .map-send-road-event-controls {
    padding: 0 $p-primary;
    display: flex;
    flex-direction: column;
  }

  .map-submit-road-event,
  .map-cancel-road-event {
    margin-bottom: $m-secondary;
  }
}
